.table {
    margin: 1em auto;
}

.cell {
    height: 50px;
    width: 50px;
    border: 1px solid;
    text-align: center;
}

.selected {
    background-color: bisque;
}

.cell:first-child {
    border-left: solid;
}

.cell:nth-child(3n) {
    border-right: solid;
}

.row:first-child .cell {
    border-top: solid;
}

.row:nth-child(3n) .cell {
    border-bottom: solid;
}